<section class="block block-hero-1">
  <div class="container">
    <div class="cta" id="contact-form">
      <form
        action="https://formspree.io/{{ section.form_id }}"
        method="POST"
      >
        <table class="block-contact-form">
          <tr>
            <td class="header">
              Contact Us
            </td>
          </tr>
          <tr>
            <td class="description">
              If you like what you've seen on our site, please get in contact with us.<br />
              Leave your details below and we will get back to you as soon as possible!<br /><br />
            </td>
          </tr>
          <tr>
            <th>Your Name</th>
          </tr>
          <tr>
            <td class="field">
              <input type="text" name="name" class="inverted">
            </td>
          </tr>
          <tr>
            <th>Your Phone Number</th>
          </tr>
          <tr>
            <td class="field">
              <input type="text" name="phone_number" class="inverted">
            </td>
          </tr>
          <tr>
            <th>Your Email</th>
          </tr>
          <tr>
            <td class="field">
              <input type="email" name="_replyto" class="inverted">
            </td>
          </tr>
          <tr>
            <th>Message</th>
          </tr>
          <tr>
            <td class="field">
              <textarea name="message" class="inverted"></textarea>
            </td>
          </tr>
          <tr>
            <td class="submit"><input type="submit" value="Send" class="button primary inverted"></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</section>
