<section class="block block-hero-1">
    <div class="container">
        <form
          action="https://formspree.io/{{ section.form_id }}"
          method="POST"
        >
          <label>
            Your Name:
            <input type="text" name="name">
          </label>
          <label>
            Your Phone Number:
            <input type="text" name="name">
          </label>
          <label>
            Your Email:
            <input type="email" name="_replyto">
          </label>
          <label>
            Message:
            <textarea name="message"></textarea>
          </label>
          <input type="submit" value="Send">
        </form>
    </div>
</section>
